<div id="page_heading">
  <h1>Places in the world</h1>
</div>

<div class="content">
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
    <th>City Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  </thead>
  <tbody>
  <% @places.each do |place| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= link_to "#{place.name}, #{place.parent.name}, #{place.parent.parent.name}, #{place.parent.parent.parent.name}", place_path(place, params.delete_if { |k,v| ['action', 'controller'].include?(k) }) %></td>
      <td><%= place.latitude %></td>
      <td><%= place.longitude %></td>
    </tr>
  <% end %>
  </tbody>
  <%= will_paginate @places %>
</table>
</div>