<h1><%= @hotel.name %></h1>
<h3>located in <%= @place.name %>, <%= @place.parent.name %>, <%= @place.parent.parent.name %>, <%= @place.parent.parent.parent.name %></h3>

<hr />

<div>
  <%= image_tag @hotel.photo, :width => 100, :style => 'float:left;margin:15px' %>
  <div style="min-height:100px">
    <%= link_to @hotel.name, show_hotel_place_path(@place, :hotel_id => @hotel.hotel_id) %> (<%= @hotel.rating %>;<%= @hotel.star_rating %>)<br />
    <address><%= @hotel.address %></address>
    <p><%= @hotel.description %></p>
    <p><%= @hotel.destination %></p>    
    <p><%= @hotel.latitude %>/<%= @hotel.longitude %></p>    
  </div>
<% form_for :availability, :url => show_hotel_prices_place_path(@place, :hotel_id => @hotel.hotel_id) do |f| %>
  Check Prices<br />
  from date <%= f.text_field :begin_date, {:size => '10'} %>
  to date <%= f.text_field :end_date, {:size => '10'} %>  
  <%= submit_tag 'Get Prices' %>
<% end -%>
</div>
<hr />
