<ul id="hotel_list">
  <li class="clearfix">
    <div class="highlight"></div>
    <div class="hotel_heading">
      <h1><%= @hotel.name %></h1>
      <address><%= @hotel.address %></address>
    </div>
    <div class="shadow"></div>
    <div class="hotel_content clearfix">
      <div class="span-6 append-1">
        <div class="module">
          <%= image_tag @hotel.photo, :width => 230 %>
        </div>
        <div class="span-4">
          <script type="text/javascript" charset="utf-8" src="<%= PlacesController::API_HOST %>/widgets?id=rtpa_link_button&aid=<%= PlacesController::AFFILIATE_ID %>&hotel_id=<%= @hotel.hotel_id %>"></script>
        <%#= render :partial=>"check_rates_form", :locals=>{:hotel=>@hotel} %>
        </div>
      </div>
      <div class="span-8 append-1">
        <h3>Located in <%= @place.name %>, <%= @place.parent.name %>, <%= @place.parent.parent.name %>, <%= @place.parent.parent.parent.name %></h3>
        <%= render :partial=>"hotel_meta", :locals=>{:hotel=>@hotel} %>
        <p><%= @hotel.description %></p>
        <p><%= @hotel.destination %></p>  
      </div>
      <div class="prepend-1 span-5 last">
        <div class="module">
          <h3>Top rated hotels</h3>
          <script type="text/javascript" charset="utf-8" src="<%= PlacesController::API_HOST %>/widgets?id=190x600_shopper_advanced_banner&aid=<%= PlacesController::AFFILIATE_ID %>&latitude=<%= @place.latitude %>&longitude=<%= @place.longitude %>"></script>
        </div>
      </div>
    </div>
</li>
</ul>
