<div id="page_heading">
  <h1>Hotels in <%= @place.name %>, <%= @place.parent.name %>, <%= @place.parent.parent.name %>, <%= @place.parent.parent.parent.name %></h1>
</div>
<div id="filters" class="clearfix">
  <div class="clearfix">
    <h2 class="italicize">Filter your hotels | <%= link_to "clear filters", place_path(@place) %></h2>
    <div class="span-4 module append-1">
      <h3>Hotel Class</h3>
      <ul class="simple_list">
      <% 1.upto(5) do |hotel_class| %>
      <li>
        <% if params[:hotel_class].to_i == hotel_class %>
          <%= hotel_class %> star <%= image_tag "/images/elements/icons/star_rating-#{hotel_class}" %>
        <% else %>
          <%= link_to " #{hotel_class} star #{image_tag "/images/elements/icons/star_rating-#{hotel_class}.gif"}", place_path(@place, params.merge({:hotel_class => hotel_class})) %>
        <% end %> 
      </li>
      <% end %>
      </ul>
    </div>
  
    <div class="span-6 module">
      <h3>Lowest Price</h3>
    
      <% [*1..15].in_groups_of(5).each_with_index do |group, index| %>
      <div class="span-2<%= ' last' if index == 2 %>">
      <ul class="simple_list">
        <% group.each do |lowest_price| %>
       <li>
          <% if params[:lowest_price].to_i == lowest_price*20 %>
            &nbsp;<%= number_to_currency(lowest_price*20, :precision=>0) %>&nbsp;  
          <% else %>
            &nbsp;<%= link_to number_to_currency(lowest_price*20, :precision=>0), place_path(@place, params.merge({:lowest_price => lowest_price*20})) %>&nbsp;
          <% end %>  
        </li>  
        <% end %>
      
      </ul>
      </div>
      <% end %>
    
    </div>
  
    <div class="span-6 module">
      <h3>Highest Price</h3>
      <% [*1..15].in_groups_of(5).each_with_index do |group, index| %>
      <div class="span-2<%= ' last' if index == 2 %>">
      <ul class="simple_list">
      <% group.each do |highest_price| %>
      <li>
        <% if params[:highest_price].to_i == highest_price*20 %>
          &nbsp;<%= number_to_currency(highest_price*20, :precision=>0) %>&nbsp;  
        <% else %>
          &nbsp;<%= link_to number_to_currency(highest_price*20, :precision=>0), place_path(@place, params.merge({:highest_price => highest_price*20})) %>&nbsp;
        <% end %>    
      </li>  
      <% end %>
    
    </ul>
    </div>
    <% end %>
    </div>
  
    <div class="prepend-1 span-4 module last">
      <h3>Distance</h3>
      <% [*1..10].in_groups_of(5).each_with_index do |group, index| %>
      <div class="span-2<%= ' last' if index == 1 %>">
      <ul class="simple_list">
      <% group.each do |distance| %>
      <li>
        <% if params[:distance].to_i == distance*10 %>
          <%= distance*10 %> miles 
        <% else %>
          <%= link_to "#{distance*10} miles", place_path(@place, params.merge({:distance => distance*10})) %>
        <% end %>  
      </li>
      <% end %>
      </ul>
      </div>
      <% end %>
    </div>
  </div>
  <%= will_paginate @hotels %>
</div>


<ul id="hotel_list">
<% for hotel in @hotels %>
<li class="clearfix">
  <div class="highlight"></div>
  <div class="hotel_heading">
    <h2><%= link_to hotel.name, show_hotel_place_path(@place, :hotel_id => hotel.hotel_id) %></h2>
    <address><%= hotel.address %></address>
  </div>
  <div class="shadow"></div>
  <div class="hotel_content clearfix">
    <div class="span-4 append-1">
      <div class="module">
        <%= image_tag hotel.photo, :width => 150 %>
      </div>
      <script type="text/javascript" charset="utf-8" src="http://realtravel.com/widgets?id=rtpa_link_button&aid=test_affiliate&hotel_id=<%=  hotel.hotel_id %>"></script>
      <%#= render :partial=>"check_rates_form", :locals=>{:hotel=>hotel} %>
    </div>
    <div class="span-9 append-1">
      <p><%= image_tag "http://staging.realtravel.com#{hotel.recommendation_image}.gif" %></p>
      <p><%= truncate(hotel.description, :omission => "... #{link_to 'more &raquo;', show_hotel_place_path(@place, :hotel_id => hotel.hotel_id)}", :length => 400) %></p>    
      <p><%= number_with_precision(@place.distance_from([hotel.latitude,hotel.longitude], :units=>:miles), :precision => 1) %> miles from <strong><%= @place.name %></strong></p>
      <p><%= hotel.destination %></p>    
      
    </div>
    <div class="span-7 last">
      <%= render :partial=>"hotel_meta", :locals=>{:hotel=>hotel} %>
    </div>
  </div>
</li>
<% end -%>
</ul>
<div class="highlight"></div>
<div class="headroom content">
  <%= will_paginate @hotels %>
</div>
<div class="advertisement">
<script type="text/javascript" charset="utf-8" src="http://realtravel.com/widgets?id=650x200_shopper_basic_banner&aid=test_affiliate&latitude=<%= @place.latitude %>&longitude=<%= @place.longitude %>"></script>
</div>