<ul id="hotel_list">
  <li class="clearfix">
    <div class="highlight"></div>
    <div class="hotel_heading">
      <h1><%= @hotel.name %></h1>
      <address><%= @hotel.address %></address>
    </div>
    <div class="shadow"></div>
    <div class="hotel_content clearfix">
      <div class="span-6 append-1">
        <div class="module">
          <%= image_tag @hotel.photo, :width => 230 %>
        </div>
        <div class="span-4">
        <%= render :partial=>"check_rates_form", :locals=>{:hotel=>@hotel} %>
        </div>
      </div>
      <div class="span-8 append-1">
        <h3>Located in <%= @place.name %>, <%= @place.parent.name %>, <%= @place.parent.parent.name %>, <%= @place.parent.parent.parent.name %></h3>
        <p><%= @hotel.description %></p>
        <p><%= @hotel.destination %></p>  
      </div>
      <div class="span-6 last">
        <%= render :partial=>"hotel_meta", :locals=>{:hotel=>@hotel} %>
      </div>
    </div>
</li>
</ul>
